@{
    ViewData["Title"] = "About";
}

<h1>About Us</h1>
<div class="mc" id="mc">
        <p>
            Homanager is a project for Web Application course in the The College of Management Academic Studies.
            This web application written by Ofir Yablonka Gal Nachum and Gal Mosaee.
        </p>
        <p>
            Homanager base on ASP.NET Core 2.1 technology and MVC concept.
            Homanager also uses Google Maps ,Facebook and OpenWeatherMap API.
        </p>
        <p>
            What next?
            In the future, we are planning to extend Homanager's functionality and offer some more options like shared calander and bills payment.
        </p>

    
   
</div>

