@{
    ViewData["Title"] = "Stats";
}

<h1>Statistics</h1>
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <a asp-controller="Pie" asp-action="Index" class="btn btn-info">Most Common Group With Friends Pie Chart</a>
        <div class="btn-group" role="group" aria-label="other group">
            <a asp-controller="Bar" asp-action="Index" class="btn btn-info">Groups Created Bar Graph</a>
        </div>
    </div>
    </div>

